<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">CRE ToolBox</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/userLogin">User Login</a></li>
            <li><a routerLink="/agentLogin">Agent Login</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
