.container-table {
  display: table;
}

.vertical-center-row {
  display: grid;
  vertical-align: middle;
}

.signUp {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.title {
  padding-left: 200px;
}
